.display {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    transition: transform .5s ease;
    @include mq($from: tablet) {
        margin-left: 350px;
        min-height: 100vh;
    }
    // add flash efect when an item is added to the display
    .dragging & {
        transform: scale(.7);
        transform-origin: top;
        box-shadow: 0 0 20px 5px lighten($color-foreground, 50%);
    }
}

.beingEdited {
    padding: 2px;
    border: dashed 2px $color-primary;
}

.fullscreenTrigger {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    line-height: 1em;
    cursor: pointer;
    border: solid 1px;
    color: $color-foreground;
}

.templates {
    display: none;
}
